@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600;700&family=DM+Sans:wght@300;400;500&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1a1a24;
  font-family: 'DM Sans', sans-serif !important;
  background-color: #f5f4f1 !important;
  overflow-x: hidden;
}

.MuiTableCell-root {
  font-family: 'DM Sans', sans-serif !important;
}